.campus{
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 50px;
}
.h1{
   font-size: 36px;
   font-weight: 600;
}
.p{
   color: #56616B;
   font-size: 14px;
   font-weight: 300;
   line-height: 22px;
   padding: 10px;
}
/* .row{
   margin-top: 5%;
   display: flex;
   justify-content: space-between;
} */
.col{
   flex-basis: 32%;
   border-radius: 10px;
   margin-bottom: 30px;
   position: relative;
   overflow: hidden;
}
.col img{
   width: 100%;
   display: block;
}

.layer{
   background: transparent;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   transition: 0.5s;
}
.layer:hover{
   background: rgba(239, 241, 246, 0.9);
}
.layer h3{
   width: 100%;
   font-weight: 500;
   color: #56616B;
   font-size: 26px;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   position: absolute;
   opacity: 0;
   transition: 0.5s;
}
.layer:hover h3{
   bottom: 49%;
   opacity: 1;
}

@media screen and (max-width: 700px){
   .col{
      flex-basis: 22%;
   }
}