/* course */

.course{
   width: 90%;
   margin: auto;
   text-align: center;
   padding-top: 100px;
}
.h1{
   font-size: 36px;
   font-weight: 600;
}
.p{
   color: #56616B;
   font-size: 15px;
   font-weight: 500;
   line-height: 24px;
   padding: 0 22px;
   margin-bottom: 20px;
}
.row{
   margin-top: 5%;
   display: flex;
   justify-content: space-between;
}
.col{
   flex-basis: 30%;
   /* background:  #bce8f7 ; */
   border-radius: 10px;
   margin-bottom: 5%;
   /* padding: 20px 12px; */
   box-sizing: border-box;
   transition: 0.5s;
}
.h3{
   text-align: center;
   font-weight: 600;
   margin: 30px 0 10px 0;
   color: #131316;
}
.col:hover{
   box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media screen and (max-width: 700px){
   .row{
      flex-direction: column;
   }
}
