.staticSection{
     background-image: url('/images/bg3.jpg');
     background-size: cover;
     background-position: center;
     background-color: rgba(0, 0, 0, 0.55);
     background-blend-mode: soft-light;
     height: 90vh;
     width: 90%;
     margin: 5% auto;
     padding: 0 3%;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     color: white;
     position:sticky;
     top:-100px; 
     z-index: -1;
     border-radius: 20px;
 }
 .staticContentWrap{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     gap: 35px;
     width: 100%;
     padding: 0 2%;
 }
 .staticContentWrap h1{
     text-align: center;
     font-size: 4rem;
     color: #EFF1F6;
 }
 
 .staticContentWrap div{
     width: 50%;
     padding: 2%;
 }
 .staticContentWrap div> h1{
     border-right: 3px solid rgb(248, 170, 3);
     padding: 7%;
     text-align: center;
     height: 8%;
   
 }
 
 
 @media screen and (max-width: 768px){
     .staticContentWrap{
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 .staticContentWrap div{
     width: 100%;
 }
 .staticContentWrap div> h1{
     border-bottom: 3px solid rgb(248, 170, 3);
     border-right: 0px ;
     padding: 2%;
 }
 }